# glide.db.properties:

glide.db.name = {{snow_db}}
glide.db.rdbms = {{mysql_user}}
glide.db.url = {{glide.db.url}}
glide.db.user = {{mysql_user}}
glide.db.password = {{mysql_password}}
glide.db.password.encrypt = true