services:
  datahub:
    environment:   
      DATA_HUB_DB_SECRET: "{{ DATA_HUB_DB_SECRET }}"
      WHSE_DB_SECRET: "{{ WHSE_DB_SECRET }}"
      ORG_DB_SECRET: "{{ ORG_DB_SECRET }}"
      RTSS_DB_SECRET: "{{ RTSS_DB_SECRET }}"
      SSIS_DB_SECRET: "{{ SSIS_DB_SECRET }}"   
      CLIENT_SECRET: "{{ CLIENT_SECRET }}"

  datahub.api:
    environment:
      DATA_HUB_DB_SECRET: "{{ DATA_HUB_DB_SECRET }}"
      WHSE_DB_SECRET: "{{ WHSE_DB_SECRET }}"
      SSIS_DB_SECRET: "{{ SSIS_DB_SECRET }}" 

  datahub.hangfire:
    environment:
      DATA_HUB_DB_SECRET: "{{ DATA_HUB_DB_SECRET }}"
      WHSE_DB_SECRET: "{{ WHSE_DB_SECRET }}"
      SSIS_DB_SECRET: "{{ SSIS_DB_SECRET }}" 

volumes: 
  cifs_volume_datahub:
    driver_opts:
      o: "username={{ SHARE_USER }},password={{ SHARE_PASSWORD }},uid=1021,gid=100,vers=3.0"
  cifs_volume_dpb:
    driver_opts:
      o: "username={{ SHARE_USER }},password={{ SHARE_PASSWORD }},uid=1021,gid=100,vers=3.0"
  cifs_volume_ai:
    driver_opts:
      o: "username={{ SHARE_USER }},password={{ SHARE_PASSWORD }},uid=1021,gid=100,vers=3.0"